.faq {
  margin-top: 32rem;
  .faq__container {
    display: flex;
    align-items: center;

    .faq__content {
      position: relative;
      margin-right: 10em;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: left;
      h1 {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: $font-secondary;
        width: 75%;
      }
      img {
        position: absolute;
        width: 657px;
        height: 421px;
        top: 90%;
        right: 20%;
      }
      button {
        max-width: 30%;
      }
    }
    .faq__accordion {
    }
  }
}