.footer {
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 2em 8em 7em 8em ;
    background-color: $background-color-light;
    width: 80%;
    margin-top: 4em;
    .footer__ticker {
      padding-bottom: 3em;
      display: flex;
      justify-content: space-between;
      border-bottom: 0.5px solid #e0e0e0;
      img {
        width: 55px;
      }
      .doctor {
        margin-left: 28em;
        display: flex;
        align-items: center;
        gap: 1em;
        .stars {
          width: 110px;
        }
        p {
          font-family: $font-secondary;
        }
        .doctor__logo {
          height: 25px;
          width: 120px;
        }
      }
      .social {
        display: flex;
        align-items: center;
        gap: 1em;
        img {
          width: 35px;
        }
      }
    }
    .footer__content {
      margin-top: 4em;
      display: flex;
      .navi {
        display: flex;
        flex-direction: column;
        gap: 3em;
        p {
          color: $color-grey;
          line-height: 1.5;
          margin-right: 8em;

        }
        .navi__menu {
          display: flex;
          gap: 1em;
          li {
            a {
              text-decoration: none;
              color: #000;
              font-size: .9rem;
            }
          }
        }
      }
      .blog__ticker {
        display: flex;
        flex-direction: column;
        gap: 2em;
        h2 {
          font-size: 1.1rem;
          color: $color-extras-primary;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 1em;
          li {
            font-family: $font-secondary;
            line-height: 1.2;
            max-width: 85%;
            a {
              text-decoration: none;
              color: $color-grey;
            }
          }
        }
      }
    }
  }
}