.header {
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

    .navi {
      display: flex;
      justify-content: center;
      align-items: center;

      .navi__logo {
        max-width: 250px;
        margin-right: 3em;
      }

      .navi__menu {
        display: flex;
        gap: 1.5rem;
        font-size: 0.9rem;
        font-weight: 600;

        li {
          a {
            color: $color-black;
            text-decoration: none;
            font-family: $font-primary;
          }
        }
      }
    }
  }
}
