.reviews {
  .swiper-slide {
    opacity: 0.5;
  }
  .swiper-slide-active {
    opacity: .8;
    transform: scale(1.1);
  }
  .reviews__container {
    width: 85%;
    margin-top:10rem;
    padding-bottom: 5rem;
    background-color: $background-color-light;


    h2 {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      font-family: $font-secondary;
      margin-bottom: 5rem;
      padding-top: 5rem;
    }
  }
  .review__container {
    font-family: $font-secondary;
    background-color: white;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    .review__info{
      display: flex;
      justify-content: space-between;
      .rating{
        display: flex;
        gap: 0.2em;
      }
      .date {
        color: $color-grey;

      }
    }
    .review{
      line-height: 1.5;
      letter-spacing: 1px;
      font-size: 1.1rem;
    }
    .user{
      margin-top: 3rem;
      display: flex;
      align-items: center;
      gap: 1em;
      .user__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-extras-primary;
        transition: 0.4s ease-out;
        img {
          width: 20px;
        }
      }
      .user__name {
        opacity: 0;
        transition: 0.2s ease-out;
        font-size: 0.5rem;
      }
    }
    &:hover .user__name {
      opacity: 1;
      font-size: 1.1rem;
    }
    &:hover .user__image img{
      opacity: 0;
    }
    &:hover .user__image{
      background-color: white;
      background-image: url("../../assets/icons/ui/userimage.png");
      background-size: contain;
      background-position: center;
    }
  }
}

