$background-color-dark: rgb(217, 215, 215);
$background-color-light: rgb(246, 246, 246);
$color-extras-primary: rgb(68,50,255);
$color-extras-secondary: rgb(20,202,255);
$color-black: rgb(14,14,14);
$color-grey: #5c5c5c;;
