*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 1rem;
  background-color: rgb(255,255,255);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 0.8rem;
}
