.button__primary {
  padding: 0.7rem 1rem;
  font-family: $font-primary;
  border: none;
  background-color: $color-extras-primary;
  border-radius: 5px;
  color: $background-color-dark;
  letter-spacing: 1px;
}