.button__primary {
  padding: 0.7rem 1rem;
  font-family: $font-primary;
  border: none;
  background-color: $color-extras-primary;
  border-radius: 5px;
  color: $background-color-dark;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  &:active {
    background-color: darken($color-extras-primary, 20%);
  }
}

.button__secondary {
  padding: 1rem 1rem;
  font-family: $font-primary;
  border: 2px solid $color-extras-primary;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  color: $color-extras-primary;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  &:active {
    background-color: darken(rgb(255,255,255), 20%);
  }

}