/*settings*/
@import "settings/reset";
@import "settings/fonts";
@import "settings/colors";
@import "settings/typography";

/*components*/
@import "components/header";
@import "components/hero";
@import "components/profits";
@import "components/faq";
@import "components/reviews";
@import "components/steps";
@import "components/reservation";

/*atoms*/
@import "components/atoms/buttons";

/*pages*/

