/*settings*/
@import "settings/reset";
@import "settings/fonts";
@import "settings/colors";
@import "settings/typography";

/*components*/
@import "components/header";
@import "components/hero";
@import "components/profits";

/*atoms*/
@import "components/atoms/buttons";

/*pages*/

